.Forms{
   margin-top: 1rem;
} 

.EntryForm1{
    margin-left: 20px;
}
.EntryForm{
    margin-top: 10px;
    /* display: flex; */
   
   
}

.EntryForm2{
    margin-left: 7.5rem;
}

 .frm{
    display: block;
    margin-top: 12px;
}

.Forms{
    display: flex;
}

#sk{
    display: grid;
}

#exp{
    display: flex;
 }
 .country{
    width: 150px;
    height: 2rem;
    /* font-size:10px; */
    padding: 1px;

    /* background-color: #a0a3a4; */
    /* margin: 10px; */
} 

.css-b62m3t-container {
    position: relative;
    box-sizing: border-box;
    font-size:15px;
    height: 4px;
    padding: 2px;
    width: 2rem 12rem;
    border-color: #a0a3a4;
    height: -webkit-fill-available;
}

.frm >label{
    color:rgb(4, 4, 118);
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
   
}

.frm >select{
    border: 2px solid #a0a3a4;
    outline: none;
    color: #1d2129;
    border-radius: 4px;
    float: right;
}

.frm >input{
    border: 2px solid #a0a3a4;
    outline: none;
    color: #1d2129;
    border-radius: 4px;
    float: right;
}

.exp
{
    width: 5rem;
    margin-left: 2px;
    float: right;
}

#cntry{
    width: 7.5rem;
    margin-left: 10.3em;  
}
#cntry2{
    width: 7.5rem;
    margin-left: 11.8em;
}
#cntry3{
    width: 7.5rem;
    margin-left: 12.5em;
}

.exnotes{
    height: 58px;
    width:12rem;
}

.bttn{
    padding: 4px;
    border-radius: 12px;
    color: white;
    background-color: rgb(63, 63, 118);
    margin: 10px;
    margin-top: 7.5rem;
    width: 8rem;
    font-size: 22px;
    font-weight: bold;
}

.bttn1{
    padding: 4px;
    border-radius: 12px;
    color: white;
    background-color: rgb(63, 63, 118);
    margin: 10px;
    margin-top: 26px;
    width: 8rem;
    font-size: 22px;
    font-weight: bold;
}

.dp{
    margin-top: 0px;
    display: block;
}
.dp >button{
    margin-left: 35px;
}

.sn{
    margin-top:10px;
}

#pf{
    font-size: 18px;
    padding: 8px;
    width: 12rem;
    background-color: #e87287e6;
    border-color: white;
    cursor: pointer;
    /* margin-left: 20px; */
}

#dl{
    /* margin-top: 10px; */
    background-color: #ba1e1e;
    border-color: white;
    cursor: pointer;
}


#sv{
    background-color: #0e9020;
    border-color: white;
    cursor: pointer;
}

#nw{
    background-color: #1313c2;
    border-color: white;
    cursor: pointer;
}


.fin
{
    display: block;
}

#exp1{
    margin-left: 58px
}
#sal1{
    margin-left: 91px
}
